body {
	width: 307px;
	margin: 0;
	height: 560px;
}
a {
    color: red;
}
text{
	font-family: blender;
	font-size: 14px;
}
#tropos text, #bloomfire text {
  font-size: 28px;
}

#tropos          path:first-child {}
#bloomfire       path:first-child {}
#open-asset      path:first-child {fill: rgb(197, 96, 59);}
#project-library path:first-child {fill: rgb(85, 120, 117);}
#phonelist       path:first-child {fill: rgb(240, 209, 0);}
#archives        path:first-child {fill: rgb(29, 29, 27);}
#directories     path:first-child {fill: rgb(30, 130, 96);}
#sharefile       path:first-child {fill: rgb(222, 50, 54);}
#styleguide      path:first-child {fill: rgb(0, 94, 151);}
#unpaid          path:first-child {fill: rgb(0, 94, 151);}
#invoicing       path:first-child {fill: rgb(240, 209, 0);}
#office-manual   path:first-child {fill: rgb(222, 50, 54);}
#job-numbers     path:first-child {fill: rgb(29, 29, 27);}
#echosign        path:first-child {fill: rgb(30, 130, 96);}
#wiki            path:first-child {fill: rgb(0, 94, 151);}
#epicor          path:first-child {fill: rgb(197, 96, 59);}
#support         path:first-child {fill: rgb(0, 94, 151);}
